/* lpb.css  */

body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    padding:0px;
    margin: 0px;
    overflow: auto;
	color: #003557
}


h1 {
	margin-top:40px;
	padding: 0px;
	text-align: left;
	color: #0065A6;
	font-size: 3em;

}
#cupcake{
	margin-top:5px;
	padding:0;

	float: left;
}
#pagetop h2{
	text-align:center;
	margin: 0;
	padding:0;
}
#pagetop{
  position: fixed;
  top: 0px;
  width:100vw;
  height: 200px;
  background: #96D9FF;
  color: #FFF;
  font-size: 23px;
  padding-top: 4px;
  transition: height 0.3s linear 0s, padding 0.3s linear 0s;
  overflow:hidden;
}
#pagetop > #searchArea{
  position: absolute;
  bottom: 0px;
  width:100%;
  background: #0065A6;
  height: 80px;
  transition: height 0.3s linear 0s;
  padding-left: 5px;
}

#results{
  margin-top: 230px;
  padding-left: 50px;
}
#results a{
	color: #003557
}
#results a:visited{
	color: #0065A6
}

#roundButton {
    background-color:#fcf3ab ;
    margin-top: 15px;
    margin-right: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #0065A6;
    outline: none;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    float:right;
}

#roundButton:hover {
    background-color: #96D9FF;
    cursor: pointer;
    border-color: #003557;
    transform: scale(1.2, 1.2);
}

#roundButton:active {
    border-color: #003557;
    background-color: #FFF;
}
#theMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fcf3ab;
  transform: translate3d(-100vw, 0, 0);
  transition-duration: .5s;
  overflow: hidden;
  text-align: center;
}
#theMenu h2 a {
  color: #0065A6;
  margin-left: 25px;
  text-decoration: none;
}
#theMenu h2 a:hover {
    text-decoration: underline;
}
#theMenu.show {
  transform: translate3d(0vw, 0, 0);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}