<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lazy Paleo Baker</title>
    <link rel="stylesheet" href="lpb.css">
    <link rel="icon" type="image/png" href="favicon.ico">
</head>
<body>
  <div class="header">
  <nav class="top-nav">
    <a href=#> Recipes</a>
    <a href=#> Recipe Management</a>
    <a href=#> Add Recipe</a>
    <a href=#> Add Author</a>
    <a href=#> View Authors</a>
    <a href=#> Logout</a>
  </nav>
    <div class="title-bar">

      <h1 class="title"> Lazy Paleo Baker </h1>
      <div class="motto">Because Less is More</div>
      <form role="search" method="get" class="input-form" action="">
				<input type="search" class="input-field" placeholder="Search …" value="" name="s">
				<input type="submit" class="input-button" value="Search">
			</form>
    </div>
    <div class="results">

    </div>
</div>
</body>
</html>
